.tg  {
  border-collapse:collapse;
  border-color:#ccc;
  border-spacing:0;
  width: 650px;
}

.tg td{
  background-color:#fff;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  color:#333;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg th{
  background-color:#f0f0f0;border-color:#ccc;
  border-style:solid;
  border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg .tg-wp8o{
  border-color:#000000;
  text-align:center;
  vertical-align:top
}

.tg .tg-8g55{
  border-color:#330001;
  text-align:center;
  vertical-align:top
}

.tg .indexColumnWidth{
  width: 10%;
}

.tg .plantNameColumnWidth{
  width: 70%;
}

.tg .smsActiveColumnWidth{
  width: 30%;
}